@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">bienvenidos a nuestro cajero</h1>
    <p>Ingresar al Cajero<a href="Home/Retiro"> Aqui </a> . </p>
</div>
